/*
 *
 * MMM-AfterShip by vanhoekd
 *
 * MIT Licensed.
 *
 */

.MMM-AfterShip {
  font-size: 65%;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.MMM-AfterShip table {
   width: 600px;
   line-height: 15px;
   font-size: 60%;
   th font-size: 20%;
/*   border: 1px solid white;
*/
   text-align: center;
}

.MMM-AfterShip th {
   font-size: 120%;
   border-bottom: 1px solid white;
}

.MMM-AfterShip .red {
    color: #FF0000   
}

.MMM-AfterShip .Deliver {
	color: #79A976
}

.MMM-AfterShip .DeliverToday {
	color: #76A9A9
}

.MMM-AfterShip .OnWay {
	color: #A7A976
}



/*
	color: #77C1C1
	color: #709898
*/

.MMM-AfterShip .darkgrey {
    color: #424242
}